body{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction: column;
    position:'relative';
    overflow-x: hidden;
    color:#ED4C2D;
    margin-left: 150px;
    margin-right:150px;
    min-width: 375px;
}

a{
    color:#ED4C2D;
    text-decoration-line: none;
}

h1, h2, h3, p, span, a {
  font-family: 'Rubik'; /* headings use Rubik */
  transform: scaleY(1.07); 
}

.nav-container{
    border-bottom: solid 1px black;
}

a:active{
    color:black;
}

.header{
    background-color:white;
    height:150px;
    position: fixed;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: calc(100% - 300px);
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height:100%;
    padding-right: 20px;
}

.nav-item{
    margin-left:40px;
}


.home {
  height: 100vh;
  overflow: hidden;
}


.outer-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex:1;
    height:100vh;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:'relative'
}

.carousel-container{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:100vh;
}

.carousel-item{
    height:500px;
    width: auto;
    border-radius: 10px;
}

.logo-image{
    height:57px;
    width:auto;
    margin-right: 20px;
    border-radius: 5px;
    border-bottom:3px;
    border-right:3.8px;
    border-top:3.5px;
    border-left:4px;
    border-color: #ED4C2D;
    border-style: solid;
}

.logo-text {
    font-size: 77px;
    color:black;
    font-weight:400;
    transform: scaleY(1.07); 
}


.contact-container {
  display: flex;
  flex-direction: column;   /* stack items vertically */
  gap: 15px;                /* space between rows */
  margin-top: 20px;
  font-size: 22px;
  color:#ED4C2D;
  background-color:white;
}

.contact-item {
  display: flex;
  align-items: center;      /* vertically center icon + text */
}

.partner-mobile-view{
    display:none;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;       /* space between icon and text */
}

.footer-contact-container{
    display: none;
}


/* header-specific */
.header-logo-container{
    display:none;
}

/* ////////////// about page ////////////// */
.about {
    /* padding-top: 40px; */
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    scroll-margin-top: 175px; /* equal to header height */
    
}

.about-inner-container{
   width:75vw;
}

.about-header{
    display: inline-flex;
    border-bottom:0px;

}

.partner-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.partner-logo{
    height:85px;
    width: auto;
}

.mini-row{
    display: flex;
    justify-content: space-between;
    width: 200px;
}


.about-space{
    height: 20px;
}

.bio{
    margin-bottom: 30px;
}

/* media queries */
@media (max-width: 1468px) {
    .logo-text{
        font-size: 50px;
    }

}

@media (max-width: 1220px) {
.nav-container{
    border-bottom: none;
}
body{
    margin:0px;
}
.nav-container{
    width:100%;
    justify-content: center;
    align-items: center;
    flex:1;
}

.header{
    flex-direction: column;
    height:100px;
    width: 100%;
}   
.logo-text{
    font-size: 40px;
}
 .header-logo{
    display: inline-flex;
    align-items: center;
    margin-bottom:10px;
 }
 .contact-divider{
    margin-left:5px;
    margin-right:5px;
 }
 .logo-text{
   margin:0;
 }

 .logo-image{
    margin-right:10px;
    height: 40px;
 }

.nav-item{
    font-size: 14px;
}

 .footer-contact-container{
    display: flex;
    flex-direction: row;
    color:#ED4C2D;
    font-size: 14px;
    justify-content: center;
    position: fixed;
    width:100%;
    bottom: 0px;
    background-color: white;
 }
 .header-logo-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex:2;
 }
  .outer-container{
    flex-direction: column;
  }

  .left-container{
    display:none;
  }

  .contact-container{
    flex-direction:row;
  }

  .carousel-item{
    height:90vw;
    width: auto;
    border-radius: 10px;
}

.partner-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline;
}

.partner-mobile-view{
    flex-direction: column;

}

/* .partner-logo{
    height: auto;
    width: 75px;
} */


.partner-deskstop-view{
    display:none;
    background-color: red;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.partner-mobile-view{
    display:flex;
    align-items: center;
}


}
